In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv('energydata_complete.csv')

In [5]:
dataset.columns

Index(['recorded_timestamp', 'total_energy_use', 'lighting_energy_use',
       'temp_sensor_1', 'humidity_sensor_1', 'temp_sensor_2',
       'humidity_sensor_2', 'temp_sensor_3', 'humidity_sensor_3',
       'temp_sensor_4', 'humidity_sensor_4', 'temp_sensor_5',
       'humidity_sensor_5', 'temp_sensor_6', 'humidity_sensor_6',
       'temp_sensor_7', 'humidity_sensor_7', 'temp_sensor_8',
       'humidity_sensor_8', 'temp_sensor_9', 'humidity_sensor_9',
       'external_temp', 'atmospheric_pressure', 'external_humidity',
       'wind_speed_mps', 'visibility_km', 'dew_point_temp',
       'random_variable_1', 'random_variable_2', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41'],
      dtype='object')

In [9]:
dataset.head(2)

,recorded_timestamp,total_energy_use,lighting_energy_use,temp_sensor_1,humidity_sensor_1,temp_sensor_2,humidity_sensor_2,temp_sensor_3,humidity_sensor_3,temp_sensor_4,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,11-01-2016 17:00,60,30,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11-01-2016 17:10,60,30,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
dataset.isnull()

,recorded_timestamp,total_energy_use,lighting_energy_use,temp_sensor_1,humidity_sensor_1,temp_sensor_2,humidity_sensor_2,temp_sensor_3,humidity_sensor_3,temp_sensor_4,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
19731,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
19732,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
19733,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
19734,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [15]:
dataset.isnull().sum()

recorded_timestamp          0
total_energy_use            0
lighting_energy_use         0
temp_sensor_1               0
humidity_sensor_1           0
temp_sensor_2               0
humidity_sensor_2           0
temp_sensor_3               0
humidity_sensor_3           0
temp_sensor_4               0
humidity_sensor_4           0
temp_sensor_5               0
humidity_sensor_5           0
temp_sensor_6               0
humidity_sensor_6           0
temp_sensor_7               0
humidity_sensor_7           0
temp_sensor_8               0
humidity_sensor_8           0
temp_sensor_9               0
humidity_sensor_9           0
external_temp               0
atmospheric_pressure        0
external_humidity           0
wind_speed_mps              0
visibility_km               0
dew_point_temp              0
random_variable_1           0
random_variable_2           0
Unnamed: 29             19735
Unnamed: 30             19735
Unnamed: 31             19735
Unnamed: 32             19735
Unnamed: 33             19735
Unnamed: 34             19735
Unnamed: 35             19735
Unnamed: 36             19735
Unnamed: 37             19735
Unnamed: 38             19735
Unnamed: 39             19735
Unnamed: 40             19735
Unnamed: 41             19735
dtype: int64

In [17]:
dataset.shape

(19735, 42)

In [25]:
dataset = dataset.drop(['Unnamed: 29','Unnamed: 30', 'Unnamed: 31','Unnamed: 32','Unnamed: 33',
                        'Unnamed: 34','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38',
                        'Unnamed: 39','Unnamed: 40','Unnamed: 41'], axis=1)

In [27]:
dataset.columns

Index(['recorded_timestamp', 'total_energy_use', 'lighting_energy_use',
       'temp_sensor_1', 'humidity_sensor_1', 'temp_sensor_2',
       'humidity_sensor_2', 'temp_sensor_3', 'humidity_sensor_3',
       'temp_sensor_4', 'humidity_sensor_4', 'temp_sensor_5',
       'humidity_sensor_5', 'temp_sensor_6', 'humidity_sensor_6',
       'temp_sensor_7', 'humidity_sensor_7', 'temp_sensor_8',
       'humidity_sensor_8', 'temp_sensor_9', 'humidity_sensor_9',
       'external_temp', 'atmospheric_pressure', 'external_humidity',
       'wind_speed_mps', 'visibility_km', 'dew_point_temp',
       'random_variable_1', 'random_variable_2'],
      dtype='object')

In [29]:
dataset.isnull().sum()

recorded_timestamp      0
total_energy_use        0
lighting_energy_use     0
temp_sensor_1           0
humidity_sensor_1       0
temp_sensor_2           0
humidity_sensor_2       0
temp_sensor_3           0
humidity_sensor_3       0
temp_sensor_4           0
humidity_sensor_4       0
temp_sensor_5           0
humidity_sensor_5       0
temp_sensor_6           0
humidity_sensor_6       0
temp_sensor_7           0
humidity_sensor_7       0
temp_sensor_8           0
humidity_sensor_8       0
temp_sensor_9           0
humidity_sensor_9       0
external_temp           0
atmospheric_pressure    0
external_humidity       0
wind_speed_mps          0
visibility_km           0
dew_point_temp          0
random_variable_1       0
random_variable_2       0
dtype: int64

In [31]:
dataset.head()

,recorded_timestamp,total_energy_use,lighting_energy_use,temp_sensor_1,humidity_sensor_1,temp_sensor_2,humidity_sensor_2,temp_sensor_3,humidity_sensor_3,temp_sensor_4,...,temp_sensor_9,humidity_sensor_9,external_temp,atmospheric_pressure,external_humidity,wind_speed_mps,visibility_km,dew_point_temp,random_variable_1,random_variable_2
0,11-01-2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,11-01-2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,11-01-2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,11-01-2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,11-01-2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [37]:
dataset['recorded_timestamp'] = pd.to_datetime(dataset['recorded_timestamp'], dayfirst=True)
dataset = dataset.set_index('recorded_timestamp')

In [ ]:
dataset